.ms_box-link{
    margin-left: 20px;
    .ms_link{
        padding: 8px 20px;
        background-color: #1975c0;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        font-size: 13px;
    }
}